/* #region Common */
/* Common */
html {
  font-size: 100%;
}

body {
  font-size: 0.9rem;
  font-family: "Helvetica Neue", "Arial", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Meiryo", sans-serif;
  line-height: 1.7;
}

.item-wrapper {
  max-width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 90px 16px 150px 16px;
  text-align: center;
}

.section-title {
  font-size: 4.5rem;
  color: #ffffff;
  -webkit-filter: drop-shadow(1px 1px 10px #c0c0c0);
          filter: drop-shadow(1px 1px 10px #c0c0c0);
}

.item-title {
  display: inline-block;
  margin-bottom: 70px;
  font-size: 2.5rem;
  border-bottom: solid 6px #e03131;
}

/* #endregion Common */
/* #region PC */
header {
  position: relative;
  height: 100vh;
  margin-bottom: 20px;
  padding: 20px 40px;
  background-image: url("../img/mainvisual.jpg");
  background-size: cover;
  background-position: center, top;
  background-repeat: no-repeat;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul li {
  margin-left: 30px;
  list-style: none;
}

header nav ul li a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  -webkit-filter: drop-shadow(1px 1px 2px #121212);
          filter: drop-shadow(1px 1px 2px #121212);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

header nav ul li a:hover {
  color: #e03131;
}

header .site-title {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 0;
  right: 0;
  -webkit-filter: drop-shadow(1px 1px 10px #c0c0c0);
          filter: drop-shadow(1px 1px 10px #c0c0c0);
}

header .site-title img {
  max-width: 100%;
}

main #menu {
  margin: 0 auto;
}

main #menu .menu-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background-image: url("../img/menu.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main #menu .item-wrapper .item {
  width: 50%;
  padding: 0 45px;
}

main #menu .item-wrapper .item dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

main #menu .item-wrapper .item dl dt {
  width: 87%;
  margin-bottom: 25px;
  text-align: left;
  border-bottom: dotted 1px #000;
}

main #menu .item-wrapper .item dl dd {
  width: 13%;
  padding-top: 8px;
  text-align: right;
}

main #menu .item-wrapper .item .food {
  margin-bottom: 55px;
}

main #menu .item-wrapper .item-coffee {
  border-right: solid 1px #000;
}

main #about {
  margin-top: 20px;
}

main #about .about-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background-image: url("../img/about.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main #about .item-wrapper .item {
  width: 100%;
}

main #about .item-wrapper .item ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

main #about .item-wrapper .item ul li {
  list-style: none;
  width: 50%;
  padding: 2%;
  line-height: 2;
  text-align: left;
}

main #about .item-wrapper .item .btn {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 50px;
  padding: 0;
  line-height: 3.5;
  text-decoration: none;
}

main #about .item-wrapper .item .btn span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: #000;
}

main #about .item-wrapper .item .btn span::before,
main #about .item-wrapper .item .btn span::after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #e03131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main #about .item-wrapper .item .btn span::before {
  width: 2px;
  height: 50%;
}

main #about .item-wrapper .item .btn span::after {
  width: 20%;
  height: 2px;
}

main #about .item-wrapper .item .btn span:hover::before {
  height: 100%;
}

main #about .item-wrapper .item .btn span:hover::after {
  width: 100%;
}

main #about .item-wrapper .item .btn::before,
main #about .item-wrapper .item .btn::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #e03131;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

main #about .item-wrapper .item .btn::before {
  width: 2px;
  height: 50%;
}

main #about .item-wrapper .item .btn::after {
  width: 20%;
  height: 2px;
}

main #about .item-wrapper .item .btn:hover::before {
  height: 100%;
}

main #about .item-wrapper .item .btn:hover::after {
  width: 100%;
}

main #location {
  margin-top: 20px;
}

main #location .location-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 300px;
  background-image: url(../img/location.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

main #location .item-wrapper .item {
  width: 100%;
}

main #location .item-wrapper .item .item-map {
  margin-bottom: 20px;
}

main #location .item-wrapper .item .item-map iframe {
  width: 100%;
  height: 400px;
  border: 0;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

main #location .item-wrapper .item .item-info p {
  margin-bottom: 10px;
  text-align: left;
}

footer {
  padding: 10px 0;
}

footer p {
  font-size: 0.5rem;
  text-align: center;
}

/* #endregion PC */
/* #region SP */
@media screen and (max-width: 767px) {
  header {
    margin-bottom: 10px;
  }
  header .site-title {
    padding: 0 16px;
    top: 42%;
  }
  main .item-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px 16px 60px 16px;
  }
  main .section-title {
    font-size: 2rem;
  }
  main .item-title {
    font-size: 1.25rem;
    margin-bottom: 25px;
  }
  main #menu .menu-title {
    height: 94px;
    background-attachment: scroll;
  }
  main #menu .item-wrapper .item {
    width: 100%;
    padding: 0;
    border-right: none;
  }
  main #menu .item-wrapper .item dl {
    margin-bottom: 10px;
  }
  main #menu .item-wrapper .item .food {
    margin-bottom: 10px;
  }
  main #menu .item-wrapper .item-coffee {
    width: 100%;
    border-right: none;
  }
  main #about .about-title {
    height: 94px;
    background-attachment: scroll;
  }
  main #about .item-wrapper .item ul li {
    width: 100%;
  }
  main #location .location-title {
    height: 94px;
    background-attachment: scroll;
  }
}

/* #endregion SP */
/*# sourceMappingURL=stylesheet.css.map */