/* #region Common */
/* Common */
@charset "UTF-8";

$text-color: #333;
$line-color: #c3c3c3;
$btn-text: #fff;
$btn-bg: #4b4b4b;

html {
  font-size: 100%;
}
body {
  color: $text-color;
  font-size: 0.75rem;
  font-family: "Raleway", sans-serif;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
/* #endregion Common */

/* #region PC */
header {
  max-width: 1000px;
  margin: 0 auto 50px auto;
  padding-top: 46px;
  padding-bottom: 26px;
  border-bottom: solid 1px $line-color;

  h1 {
    width: 109px;
    margin: 0 auto 36px auto;
    line-height: 0;

    a {
      display: block;

      img {
        max-width: 100%;
      }
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 14px;

        a {
          color: $text-color;
          text-decoration: none;
        }
      }
    }
    .login {
      li {
        margin-right: 0;
        margin-left: 14px;
      }
    }
  }
}

main {
  #content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    .item-img {
      max-width: 400px;
      margin-right: 60px;

      img {
        width: 100%;
      }
    }

    .item-info {
      max-width: 340px;

      .info-title {
        display: flex;
        align-items: center;
        height: 60px;
        margin-bottom: 20px;
        border-top: solid 1px $line-color;
        border-bottom: solid 1px $line-color;
        font-size: 1rem;
      }

      p {
        margin-bottom: 30px;
        line-height: 1.9;
      }
    }

    .order-table {
      width: 100%;
      margin-bottom: 20px;
      border-collapse: collapse;

      tr {
        border-bottom: solid 1px $line-color;

        th {
          border-bottom: solid 1px $line-color;
        }
        th,
        td {
          padding: 10px;
          text-align: center;
          font-weight: normal;
          border-right: solid 1px $line-color;
        }
        th:last-child,
        td:last-child {
          border-right: none;
        }
        .color,
        .size {
          width: 20%;
        }

        select {
          width: 100%;
          padding: 0 10px;
          border: solid 1px $line-color;
          -webkit-appearance: menulist;
        }
      }
      tr:last-child {
        border-bottom: none;
      }
    }

    .btn {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 18px 0;
      line-height: 1;
      text-align: center;
      color: $btn-text;
      background-color: $btn-bg;
      text-decoration: none;
    }

    .size-table {
      width: 100%;
      border: solid 1px $line-color;
      border-collapse: collapse;
      text-align: center;

      th {
        background-color: #ecebeb;
      }
      th,
      td {
        width: 28%;
        padding: 10px;
        font-weight: normal;
        border-bottom: solid 1px $line-color;
        border-right: solid 1px $line-color;
      }
      th:first-child {
        width: 16%;
      }
      td:last-child {
        border-right: none;
      }
    }
  }
}

footer {
  padding: 10px 0;

  p {
    font-size: 0.625rem;
    text-align: center;
  }
}
/* #endregion PC */

/* #region SP */
@media screen and (max-width: 896px) {
  header {
    margin-bottom: 0;
    padding: 36px 16px 16px 16px;
    border-bottom: none;

    .site-title {
      margin-bottom: 26px;
    }

    nav {
      // justify-content: center;
      overflow-x: scroll;

      .menu,
      .login {
        margin: 0 auto;
      }
    }
  }

  main {
    #content {
      flex-direction: column;

      .item-img {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
      }
      .item-info {
        width: 100%;
        max-width: 100%;
        padding: 0 16px;
      }
    }
  }
}
/* #endregion SP */
