/* #region Common */
/* Common */
html {
  font-size: 100%;
}

body {
  color: #333;
  font-size: 0.875rem;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.inner {
  max-width: 800px;
  margin: 0 auto;
}

.content-title {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

/* #endregion Common */
/* #region PC */
/* Header */
header {
  margin-top: 60px;
}

header .site-title {
  max-width: 180px;
  margin-bottom: 15px;
  line-height: 0;
}

header .site-title a {
  display: block;
}

/* Main */
main {
  /* Main vidual */
}

main #mainvisual {
  max-width: 1000px;
  margin-bottom: 60px;
}

main #index {
  padding: 60px;
  margin-bottom: 60px;
  background-color: #f5f5f5;
}

main #index .index-inner {
  margin: 0 auto;
  padding: 30px;
  border: solid 1px #333;
}

main #index .index-inner .index-list {
  display: table;
  margin: 0 auto;
}

main #index .index-inner .index-list li {
  margin-bottom: 20px;
  margin-left: 0;
}

main #index .index-inner .index-list li:last-child {
  margin-bottom: 0;
}

main #photo ul {
  margin: 30px 0 45px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main #photo ul li {
  list-style: none;
  width: 49%;
  margin-bottom: 15px;
}

main #photo ul li img {
  vertical-align: bottom;
}

main #detail {
  background-color: #f5f5f5;
  padding: 60px;
  margin-bottom: 60px;
}

main #detail .detail-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #detail .detail-inner dl {
  width: 35%;
  padding-right: 40px;
  border-right: solid 1px;
}

main #detail .detail-inner dl dt {
  font-weight: bold;
}

main #detail .detail-inner dl dd {
  margin-bottom: 10px;
}

main #detail .detail-inner dl dd:last-child {
  margin-bottom: 0;
}

main #detail .detail-inner .detail-text {
  width: 65%;
  padding-left: 40px;
}

main #detail .detail-inner .detail-text p {
  margin-bottom: 20px;
}

main #detail .detail-inner .detail-text a {
  color: #333333;
}

footer {
  margin: 0 auto;
  padding: 15px 0;
  text-align: center;
}

footer p {
  font-size: 0.625rem;
}

/* #endregion PC */
/* #region SP */
@media screen and (max-width: 1024px) {
  .inner {
    padding: 0 20px;
  }
  header {
    padding: 0 10px;
  }
  main #index {
    padding: 40px 20px;
  }
  main #photo ul {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #photo ul li {
    width: 600px;
  }
  main #detail {
    padding: 40px 20px;
  }
  main #detail .detail-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main #detail .detail-inner dl {
    width: 100%;
    padding: 0 0 40px 0;
    border-right: 0;
    border-bottom: solid 1px;
  }
  main #detail .detail-inner .detail-text {
    width: 100%;
    padding: 40px 0 0 0;
  }
}

/* #endregion SP */
/*# sourceMappingURL=stylesheet.css.map */