/* #region Common */
/* Common */
@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #2d2d2d;
  font-family: "Crimson Text", serif;
}
img {
  max-width: 100%;
}
.container {
  margin-bottom: 60px;
}
.section-title {
  font-size: 1.5rem;
  font-weight: normal;
}

/* #endregion Common */

/* #region PC */
main {
  /* Main visual */
  #mainvisual {
    width: 90vw;
    margin: 4% auto 0 auto;

    img {
      max-width: 100%;
      vertical-align: bottom;
    }
  }

  .nav-container {
    display: flex;
    width: 90vw;
    margin: 0 auto 30px auto;
    padding: 32px 0;
    align-items: center;

    .site-title {
      width: 110px;
      line-height: 0;
      margin-right: 50px;

      a {
        display: block;

        img {
          vertical-align: bottom;
        }
      }
    }

    ul {
      display: flex;
      list-style: none;

      li {
        margin-right: 30px;
        font-size: 0.875rem;

        a {
          text-decoration: none;
          color: #2d2d2d;
        }
      }
    }
  }

  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 18px;

    #concept {
      display: flex;
      max-width: 1000px;
      align-items: center;

      img {
        width: 50%;
        vertical-align: bottom;
      }
      .text-container {
        width: 50%;
        padding: 0 7%;

        h2 {
          margin-bottom: 4px;
        }
        span {
          display: inline-block;
          margin-bottom: 25px;
        }
      }
    }

    #work {
      display: flex;
      max-width: 1000px;
      align-items: center;

      img {
        width: 50%;
        vertical-align: bottom;
      }

      .text-container {
        width: 50%;
        padding: 0 7%;

        h2 {
          margin-bottom: 4px;
        }

        span {
          display: inline-block;
          margin-bottom: 25px;
        }
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      font-size: 0.875rem;

      .logo {
        width: 110px;

        img {
          vertical-align: bottom;
        }
      }
    }
  }
}
/* #endregion PC */

/* #region SP */
@media screen and (max-width: 824px) {
}
/* #endregion SP */
