/* #region Common */
/* Common */
html {
  font-size: 100%;
}

body {
  color: #2d2d2d;
  font-family: "Crimson Text", serif;
}

img {
  max-width: 100%;
}

.container {
  margin-bottom: 60px;
}

.section-title {
  font-size: 1.5rem;
  font-weight: normal;
}

/* #endregion Common */
/* #region PC */
main {
  /* Main visual */
}

main #mainvisual {
  width: 90vw;
  margin: 4% auto 0 auto;
}

main #mainvisual img {
  max-width: 100%;
  vertical-align: bottom;
}

main .nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  margin: 0 auto 30px auto;
  padding: 32px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .nav-container .site-title {
  width: 110px;
  line-height: 0;
  margin-right: 50px;
}

main .nav-container .site-title a {
  display: block;
}

main .nav-container .site-title a img {
  vertical-align: bottom;
}

main .nav-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

main .nav-container ul li {
  margin-right: 30px;
  font-size: 0.875rem;
}

main .nav-container ul li a {
  text-decoration: none;
  color: #2d2d2d;
}

main .wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 18px;
}

main .wrapper #concept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .wrapper #concept img {
  width: 50%;
  vertical-align: bottom;
}

main .wrapper #concept .text-container {
  width: 50%;
  padding: 0 7%;
}

main .wrapper #concept .text-container h2 {
  margin-bottom: 4px;
}

main .wrapper #concept .text-container span {
  display: inline-block;
  margin-bottom: 25px;
}

main .wrapper #work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .wrapper #work img {
  width: 50%;
  vertical-align: bottom;
}

main .wrapper #work .text-container {
  width: 50%;
  padding: 0 7%;
}

main .wrapper #work .text-container h2 {
  margin-bottom: 4px;
}

main .wrapper #work .text-container span {
  display: inline-block;
  margin-bottom: 25px;
}

main .wrapper footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  font-size: 0.875rem;
}

main .wrapper footer .logo {
  width: 110px;
}

main .wrapper footer .logo img {
  vertical-align: bottom;
}

/* #endregion PC */
/* #region SP */
@media screen and (max-width: 767px) {
  /* Common */
  .section-title {
    font-size: 1.25rem;
  }
  /* Main */
  main #mainvisual {
    width: 100%;
    margin: 0 auto;
  }
  main #mainvisual img {
    height: 50vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .nav-container {
    width: 100%;
    padding: 20px 18px;
  }
  main .wrapper #concept {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .wrapper #concept img {
    width: 100%;
    margin-bottom: 10px;
  }
  main .wrapper #concept .text-container {
    width: 100%;
    padding: 0;
  }
  main .wrapper #work {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .wrapper #work .text-container {
    width: 100%;
    padding: 0;
  }
  main .wrapper #work img {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* #endregion SP */
/*# sourceMappingURL=stylesheet.css.map */